h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/*  PAGE HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logotype {
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.list {
  list-style-type: none;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.address-list {
  font-style: normal;
  margin-left: auto;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
  display: block;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  display: block;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  color: #404bbf;
}

.number-mail-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-mail {
  display: flex;
  gap: 40px;
}

.number-mail-link:hover,
.number-mail-link:focus {
  color: #404bbf;
  color: #404bbf;
}

.span-class {
  color: #2e2f42;
}

/* section 1 - (HERO) */
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1nonly.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.caption-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.button-one {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-left: auto;
}

.button-one {
  background-color: #4d5ae5;
}

.button-one:hover,
.button-one:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* section 2 */
.second-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section-ul {
  display: flex;
  gap: 24px;
}

.li-class-section-two {
  width: calc((100% - 72px) / 4);
}

/* div-classes-for-icons */
.icon-antenna-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* end of div-classes-for-icons */

.caption-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.caption-third {
  margin-bottom: 8px;
}

.paragraph-second {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 3 */
.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-pics {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-pics {
  width: calc((100% - 72px) / 4);
}
/* container for the name and the job position */
.container-team {
  padding: 32px 0;
}

/* (h2) */
.our-team-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-three-ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* (h3) */
.caption-thethird {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
/* ("p" for each h3) */
.paragraph-third {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
/* social list */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  height: 40px;
  width: 40px;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

/* section 4 */
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* (h2) */
.section-four-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-four-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* .section-four-ul:hover {
  
} */

.li-class-section-four {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-class-section-four:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-image-div {
  position: relative;
  overflow: hidden;
}

.stylish-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-class-section-four:hover .stylish-paragraph {
  transform: translateY(0%);
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.bank-app-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-four-caption-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-caption-3-1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PAGE FOOTER */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin-right: auto;
  margin-left: auto;
}

.logotype-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* div for p and logo */
.container-footer-div {
  margin-right: 120px;
}

.container-footer {
  display: flex;
}

/* .container-footer-div {
  margin-right: 120px;
} */

.span-class-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.social-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.main-social-list {
  display: flex;
  gap: 16px;
}

.main-social-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-social-link:hover,
.main-social-link:focus {
  background-color: #31d0aa;
  background-color: #31d0aa;
}

.main-social-icon {
  fill: #f4f4fd;
}

/* SECTION FOR THE FORM */
.subscribe-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

/* FORM */
.subscribe-div {
  margin-left: 80px;
}

.form-for-email {
  display: flex;
}

.form-for-email {
  gap: 24px;
}

.input-class {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-for-sub {
  margin-left: 16px;
}

/* MODAL WINDOW */
.container-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-window-button {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover,
.modal-window-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.icon-for-modal-window {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.after-footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.the-form {
  margin-bottom: 8px;
}

/* second label */
.name-class {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: relative;
}

.input-class-second {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-class-second:focus {
  border-color: #4d5ae5;
}

.input-class-second:focus + svg {
  fill: #4d5ae5;
}

.person-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input-field {
  margin-bottom: 16px;
}

.text-for-comm {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-for-comm:focus {
  border-color: #4d5ae5;
}

.container-for-checkbox {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-privacy-class {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE, #8e8f99);
  color: #8e8f99;
}

.user-span-class {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.user-privacy-class:checked + label > span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.class-for-policy {
  color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.send-button {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
